    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script><!--NGROUTE-->

    </head>
    <body>


<!---->

{% block content %}

{% endblock %}

          <script>
              var app = angular.module("myApp", ["ngRoute"]);
              app.config(function ($httpProvider,$routeProvider) {
                  $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                  $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
                  $routeProvider
                      .when("/", {
                          templateUrl: "/theform/vulns/main/"
                      })
                      .when("/low", {
                          templateUrl: "/theform/vulns/low/"
                      })
                      .when("/medium", {
                          templateUrl: "/theform/vulns/medium/"
                      })
                      .when("/high", {
                          templateUrl: "/theform/vulns/high/"
                      });
              });
              app.controller('myCtrl', function ($scope, $http) {
                  $http.get("/theform/vuln/").then(function (response) {
                      $scope.myWelcome = response.data;
                      $scope.options = ["low", "medium", "high"];
                      $scope.status_options = ["Not_Reviewed", "Open", "NotAFinding", "Not_Applicable"];


                  });

                  $scope.SendData = function () {
                      values = $scope.myWelcome
                      angular.forEach(values, function (value, key) {
                          //alert(values.id+" "+ values.v_ids);
                          console.log("pk: " + value.id + " " + " name: " + value.v_ids + " " + "Submitted ");
                          $http({
                              method: 'PUT',
                              url: '/theform/vuln/' + value.id + '/',
                              data: value,
                              headers: { 'Content-Type': 'application/json' }
                          }).then(function (data) {
                              if (data.errors) {
                                  console.log('COULDNT POST!');
                                  $scope.PostDataResponse = data.errors.name;
                              } else {
                                  $scope.PostDataResponse = data.message;
                              }
                          });
                      })
                      // end iter for values
                  }

              });
          </script>
    </body>
    </html>